In [1]:
import platform
import os
import pandas as pd
import numpy as np
import sys
import ydata_profiling
import matplotlib.pyplot as plt
import math


filename = '20221118_before_drop.csv'
filepath = os.path.abspath(os.path.join(os.getcwd(),r'Results',filename))
plt.rc('font', family='Malgun Gothic')

In [2]:
data = pd.read_csv(filepath,index_col=0)

In [6]:
data = data.sort_values('공사종료일')
data = data.sort_values('공사시작일')
data[['공공민간구분','공사시작일','공사종료일']]
data.loc[data['공사시작일'] == '2018-03-16'].loc[data['공사종료일'] == '2023-06-15'][['공공민간구분','공사시작일','공사종료일']]

      공공민간구분       공사시작일       공사종료일
3287      공공  2018-03-16  2023-06-15
6339      공공  2018-03-16  2023-06-15
6965      공공  2018-03-16  2023-06-15
4378      공공  2018-03-16  2023-06-15
4727      공공  2018-03-16  2023-06-15
...      ...         ...         ...
9889      공공  2018-03-16  2023-06-15
2212      공공  2018-03-16  2023-06-15
13795     공공  2018-03-16  2023-06-15
1163      공공  2018-03-16  2023-06-15
8980      공공  2018-03-16  2023-06-15

[130 rows x 3 columns]

In [4]:
cur_id = -1
tmp_var = ""
tmp_srt = ""
tmp_end = ""

for idx, row in data.iterrows():
    if (row['공공민간구분'] == tmp_var) and (row['공사시작일'] == tmp_srt) and (row['공사종료일'] == tmp_end):
        data.at[idx, 'construction_id'] = cur_id
    else:
        tmp_var = row['공공민간구분']
        tmp_srt = row['공사시작일']
        tmp_end = row['공사종료일']

        cur_id += 1
        data.at[idx, 'construction_id'] = cur_id
    print(cur_id, " : ",row['공공민간구분'], " ", row['공사시작일'], " ", row['공사종료일'])


data[['공공민간구분','공사시작일','공사종료일','construction_id']]

      공공민간구분       공사시작일       공사종료일  construction_id
13930     민간  1999-02-01  2025-12-31              0.0
6207      공공  2002-12-12  2022-12-31              1.0
12583     공공  2002-12-17  2022-12-30              2.0
1749      공공  2003-12-23  2020-12-31              3.0
5587      공공  2003-12-24  2020-12-31              4.0
...      ...         ...         ...              ...
14264     공공  2022-08-10  2022-11-17          12032.0
14217     민간  2022-08-24  2022-09-08          12033.0
13198     민간  2022-12-01  2022-09-30          12034.0
12238     민간  2022-12-23  2023-08-22          12035.0
6327      공공  2027-08-24  2021-12-31          12036.0

[14289 rows x 4 columns]

In [5]:
data['construction_id'].value_counts()

1406.0     55
1404.0     40
1408.0     35
2276.0     27
2579.0     24
           ..
4368.0      1
4369.0      1
4370.0      1
4371.0      1
12036.0     1
Name: construction_id, Length: 12037, dtype: int64

In [7]:
data['사고일시'].value_counts()

  2020-08-14 10:00    5
  2021-12-16 10:00    5
  2020-04-08 10:00    5
  2022-03-08 11:00    5
  2019-11-16 15:00    4
                     ..
  2021-07-09 07:30    1
  2021-08-19 07:40    1
  2021-08-11 22:40    1
  2022-03-14 00:30    1
  2022-02-21 09:32    1
Name: 사고일시, Length: 12688, dtype: int64

In [8]:
data['공사시작일'].value_counts()

2018-03-16    132
2015-10-29    124
2019-04-01    120
2018-12-31    104
2018-10-18     98
             ...
2018-03-10      1
2018-03-12      1
2018-03-14      1
2018-03-23      1
2027-08-24      1
Name: 공사시작일, Length: 1785, dtype: int64

In [54]:
len(data)

14289

data['공사종료일'].value_counts()

In [47]:
dup3 = data.duplicated(['공사시작일','공사종료일'], keep=False)
df_dup4 = pd.concat([data, dup3], axis=1)
df_dup4.rename(columns = {0 : 'Dup'}, inplace = True)
same1 = df_dup4.loc[df_dup4['Dup'] == True][['공공민간구분','공사시작일','공사종료일']].sort_values('공사시작일')

same2 = df_dup4.loc[df_dup4['Dup'] == True][['사고명','공공민간구분','공사시작일','공사종료일']].sort_values('공사시작일')

In [51]:
same1.loc[same1.groupby(['공사시작일','공사종료일'])]

      공공민간구분       공사시작일       공사종료일
1170      공공  2003-12-24  2020-12-31
5587      공공  2003-12-24  2020-12-31
3781      공공  2006-03-15  2023-12-31
4799      공공  2006-03-15  2023-12-31
2239      공공  2009-12-24  2020-05-05
...      ...         ...         ...
14201     공공  2022-05-02  2022-10-28
13769     민간  2022-05-31  2024-12-30
13476     민간  2022-05-31  2024-12-30
14274     공공  2022-06-28  2022-09-25
13914     공공  2022-06-28  2022-09-25

[7124 rows x 3 columns]

In [53]:
same1.value_counts().loc[same1.value_counts() == 1]

공공민간구분  공사시작일       공사종료일
공공      2013-09-30  2020-09-29    1
민간      2018-08-01  2020-07-30    1
공공      2017-09-08  2020-06-30    1
민간      2018-11-28  2021-11-26    1
공공      2015-09-15  2021-12-31    1
                                 ..
        2019-02-10  2020-12-30    1
미입력     2019-01-09  2020-02-02    1
공공      2020-09-04  2021-01-31    1
민간      2013-09-30  2020-09-29    1
        2019-04-10  2021-04-10    1
Length: 178, dtype: int64

In [56]:
sum(same1.value_counts().loc[same1.value_counts() > 2])

4610

In [40]:
len(same1.value_counts().loc[same1.value_counts() > 2])

875

In [25]:
same1.loc[same1['공사시작일'] == '2018-03-16'].loc[same1['공사종료일'] == '2023-06-15']

      공공민간구분       공사시작일       공사종료일
4727      공공  2018-03-16  2023-06-15
7132      공공  2018-03-16  2023-06-15
12988     공공  2018-03-16  2023-06-15
3091      공공  2018-03-16  2023-06-15
3744      공공  2018-03-16  2023-06-15
...      ...         ...         ...
12894     공공  2018-03-16  2023-06-15
2052      공공  2018-03-16  2023-06-15
2716      공공  2018-03-16  2023-06-15
6965      공공  2018-03-16  2023-06-15
6943      공공  2018-03-16  2023-06-15

[130 rows x 3 columns]