In [5]:
from Modules import Preprocessor
import os

cwd = os.getcwd()
pp = Preprocessor(cwd)
pp.setFilename("국토안전관리원_건설안전사고사례_20221118.csv")
pp.openFile()

In [64]:
data = pp.data
for idx, row in data.iterrows():
    if row['시설물 대분류'] == '건축':
        if row['시설물 소분류'] == "공동주택" or row['시설물 소분류'] == "공장":
            data.at[idx, '시설물 대분류'] = row['시설물 소분류']
        else:
            data.at[idx, '시설물 대분류'] = '기타 건축'

data = data.drop(['시설물 중분류', '시설물 소분류'], axis=1)
data= data.rename(columns={"시설물 대분류" : "시설물 분류"})
# data
data['시설물 분류'].value_counts()

기타 건축     5272
공동주택      4117
토목        2993
공장        1152
산업환경설비     619
조경         136
Name: 시설물 분류, dtype: int64

In [65]:

for idx, row in data.iterrows():
    if row['인적사고종류(대분류)'] == '미입력' or row['인적사고종류(대분류)'] == '없음' or row['인적사고종류(대분류)'] == '분류불능':
        data.at[idx, '인적사고종류(대분류)'] = '기타'

data = data.drop(['인적사고종류'], axis=1)
data= data.rename(columns={"인적사고종류(대분류)" : "인적사고종류"})
data['인적사고종류'].value_counts()

넘어짐       3368
떨어짐       2801
물체에 맞음    2201
끼임        1558
기타        1518
절단, 베임    1016
부딪힘        949
깔림         302
질병         190
찔림         170
화상          95
교통사고        74
감전          34
질식          13
Name: 인적사고종류, dtype: int64

In [70]:
for idx, row in data.iterrows():
    if row['물적사고종류'] == '미입력' or row['물적사고종류'] == '없음' :
        data.at[idx, '물적사고종류'] = '기타'

for idx, row in data.iterrows():
    if row['인적사고종류'] == '기타' :
        data.at[idx, '사고종류'] = row['물적사고종류']
    else:
        data.at[idx, '사고종류'] = row['인적사고종류']

data['사고종류'].value_counts()

넘어짐       3368
떨어짐       2801
물체에 맞음    2201
끼임        1558
기타        1404
절단, 베임    1016
부딪힘        949
깔림         302
질병         190
찔림         170
화상          95
교통사고        74
전도          41
감전          34
화재          29
충돌          14
질식          13
붕괴          12
탈락           6
파열, 파단       6
낙하           4
폭발           2
Name: 사고종류, dtype: int64

In [76]:
data[['시설물 분류','공종(대분류)']]

      시설물 분류 공종(대분류)
0      기타 건축      기타
1       공동주택      건축
2         토목      토목
3         토목      토목
4       공동주택    전기설비
...      ...     ...
14284  기타 건축      건축
14285  기타 건축      건축
14286     토목      토목
14287  기타 건축      건축
14288  기타 건축      토목

[14289 rows x 2 columns]

In [67]:
data[['물적사고종류','인적사고종류']].loc[data['물적사고종류'] == "기타"]

      물적사고종류  인적사고종류
0         기타      끼임
1         기타  물체에 맞음
2         기타     떨어짐
3         기타  절단, 베임
4         기타     넘어짐
...      ...     ...
14284     기타     떨어짐
14285     기타     부딪힘
14286     기타      끼임
14287     기타     떨어짐
14288     기타     떨어짐

[13449 rows x 2 columns]

In [ ]:
pp.d