In [1]:
import platform
import os
import pandas as pd
import numpy as np
import sys

filename = 'ta_20230425145448.csv'
filepath = os.path.abspath(os.path.join(os.getcwd(),r'Data',filename))
filepath

'/home/rpf511/git/Preprocessor/Data/ta_20230425145448.csv'

In [2]:
data = pd.read_csv(filepath)

In [3]:
# for idx, row in data.iterrows():
#     data['average(cel)'] = 

# data['average(cel)']
data = data.round()
data['average(cel)'].value_counts()
average_counts = data['average(cel)'].value_counts(dropna=True, sort=True)
highest_counts = data['highest(cel)'].value_counts(dropna=True, sort=True)
lowest_counts = data['lowest(cel)'].value_counts(dropna=True, sort=True)

In [4]:
# type(value_counts)
# indexlist = list(value_counts.index)
# indexlist.sort()
# indexlist


indexlist = average_counts.index

for i in range(-14,37):
    if not i in indexlist:
        average_counts.loc[i] = 0
average_counts = average_counts.sort_index()
highest_counts = highest_counts.sort_index()
lowest_counts = lowest_counts.sort_index()

# average_counts

average_counts = average_counts.to_frame()
highest_counts = highest_counts.to_frame()
lowest_counts = lowest_counts.to_frame()

average_counts= average_counts.rename(columns={"average(cel)" : "temperature"})
highest_counts= highest_counts.rename(columns={"highest(cel)" : "temperature"})
lowest_counts= lowest_counts.rename(columns={"lowest(cel)" : "temperature"})
average_counts

       temperature
-14.0            0
-13.0            0
-12.0            1
-11.0            0
-10.0            1
-9.0             0
-8.0             4
-7.0             5
-6.0             6
-5.0             9
-4.0             7
-3.0            12
-2.0            10
-1.0             7
 0.0             6
 1.0             6
 2.0             6
 3.0             6
 4.0             4
 5.0             9
 6.0             5
 7.0             7
 8.0             8
 9.0             5
 10.0           11
 11.0           15
 12.0            7
 13.0           16
 14.0            9
 15.0            9
 16.0            9
 17.0            4
 18.0           14
 19.0            8
 20.0           19
 21.0           15
 22.0           11
 23.0           12
 24.0           10
 25.0           18
 26.0           15
 27.0           17
 28.0            6
 29.0           12
 30.0            2
 31.0            2
 32.0            0
 33.0            0
 34.0            0
 35.0            0
 36.0            0

In [5]:


for idx, row in highest_counts.iterrows():
    average_counts.at[idx,'temperature'] += row

for idx, row in lowest_counts.iterrows():
    average_counts.at[idx,'temperature'] += row
average_counts

       temperature
-14.0            2
-13.0            0
-12.0            3
-11.0            4
-10.0           13
-9.0             5
-8.0            21
-7.0            12
-6.0            15
-5.0            17
-4.0            13
-3.0            24
-2.0            21
-1.0            19
 0.0            21
 1.0            22
 2.0            27
 3.0            15
 4.0            21
 5.0            22
 6.0            23
 7.0            26
 8.0            22
 9.0            23
 10.0           30
 11.0           28
 12.0           23
 13.0           31
 14.0           27
 15.0           33
 16.0           35
 17.0           25
 18.0           35
 19.0           22
 20.0           39
 21.0           30
 22.0           38
 23.0           35
 24.0           36
 25.0           47
 26.0           43
 27.0           33
 28.0           32
 29.0           22
 30.0           24
 31.0           10
 32.0            9
 33.0           10
 34.0            4
 35.0            1
 36.0            1

In [13]:
for idx, row in average_counts.iterrows():
    if row['temperature'] == 0:
        average_counts.at[idx,'temperature'] = 1

average_counts

       temperature
-14.0            2
-13.0            1
-12.0            3
-11.0            4
-10.0           13
-9.0             5
-8.0            21
-7.0            12
-6.0            15
-5.0            17
-4.0            13
-3.0            24
-2.0            21
-1.0            19
 0.0            21
 1.0            22
 2.0            27
 3.0            15
 4.0            21
 5.0            22
 6.0            23
 7.0            26
 8.0            22
 9.0            23
 10.0           30
 11.0           28
 12.0           23
 13.0           31
 14.0           27
 15.0           33
 16.0           35
 17.0           25
 18.0           35
 19.0           22
 20.0           39
 21.0           30
 22.0           38
 23.0           35
 24.0           36
 25.0           47
 26.0           43
 27.0           33
 28.0           32
 29.0           22
 30.0           24
 31.0           10
 32.0            9
 33.0           10
 34.0            4
 35.0            1
 36.0            1

In [14]:
average_counts.to_csv(os.path.abspath(os.path.join(os.getcwd(),r'Results','temperature_dist.csv')))

In [20]:
temperature_path = os.path.abspath(os.path.join(os.getcwd(),r'Results','temperature_dist.csv'))


temperature = data = pd.read_csv(temperature_path)

temperature = temperature.rename(columns={"temperature" : "counts"})
temperature =  temperature.rename(columns={"Unnamed: 0" : "temperature"})
temperature.to_csv(os.path.abspath(os.path.join(os.getcwd(),r'Results','temperature_dist.csv')))