In [2]:
import platform
import os
import pandas as pd
import numpy as np
import sys
import ydata_profiling
import matplotlib.pyplot as plt
import math


filename = '20221118_before_drop.csv'
filepath = os.path.abspath(os.path.join(os.getcwd(),r'Results',filename))
plt.rc('font', family='Malgun Gothic')

In [4]:
data = pd.read_csv(filepath,index_col=0)

In [5]:
data['사고일시'].value_counts()

  2022-03-08 11:00    5
  2020-08-14 10:00    5
  2021-12-16 10:00    5
  2020-04-08 10:00    5
  2022-07-04 09:00    4
                     ..
  2020-08-20 14:30    1
  2020-08-20 15:30    1
  2020-08-20 17:00    1
  2020-08-21 08:49    1
  2022-10-22 07:55    1
Name: 사고일시, Length: 12688, dtype: int64

In [6]:
data['공사시작일'].value_counts()

2018-03-16    132
2015-10-29    124
2019-04-01    120
2018-12-31    104
2018-10-18     98
             ...
2018-02-06      1
2020-10-11      1
2019-07-27      1
2018-03-23      1
2022-05-24      1
Name: 공사시작일, Length: 1785, dtype: int64

In [54]:
len(data)

14289

data['공사종료일'].value_counts()

In [47]:
dup3 = data.duplicated(['공사시작일','공사종료일'], keep=False)
df_dup4 = pd.concat([data, dup3], axis=1)
df_dup4.rename(columns = {0 : 'Dup'}, inplace = True)
same1 = df_dup4.loc[df_dup4['Dup'] == True][['공공민간구분','공사시작일','공사종료일']].sort_values('공사시작일')

same2 = df_dup4.loc[df_dup4['Dup'] == True][['사고명','공공민간구분','공사시작일','공사종료일']].sort_values('공사시작일')

In [51]:
same1.loc[same1.groupby(['공사시작일','공사종료일'])]

      공공민간구분       공사시작일       공사종료일
1170      공공  2003-12-24  2020-12-31
5587      공공  2003-12-24  2020-12-31
3781      공공  2006-03-15  2023-12-31
4799      공공  2006-03-15  2023-12-31
2239      공공  2009-12-24  2020-05-05
...      ...         ...         ...
14201     공공  2022-05-02  2022-10-28
13769     민간  2022-05-31  2024-12-30
13476     민간  2022-05-31  2024-12-30
14274     공공  2022-06-28  2022-09-25
13914     공공  2022-06-28  2022-09-25

[7124 rows x 3 columns]

In [53]:
same1.value_counts().loc[same1.value_counts() == 1]

공공민간구분  공사시작일       공사종료일
공공      2013-09-30  2020-09-29    1
민간      2018-08-01  2020-07-30    1
공공      2017-09-08  2020-06-30    1
민간      2018-11-28  2021-11-26    1
공공      2015-09-15  2021-12-31    1
                                 ..
        2019-02-10  2020-12-30    1
미입력     2019-01-09  2020-02-02    1
공공      2020-09-04  2021-01-31    1
민간      2013-09-30  2020-09-29    1
        2019-04-10  2021-04-10    1
Length: 178, dtype: int64

In [56]:
sum(same1.value_counts().loc[same1.value_counts() > 2])

4610

In [40]:
len(same1.value_counts().loc[same1.value_counts() > 2])

875

In [25]:
same1.loc[same1['공사시작일'] == '2018-03-16'].loc[same1['공사종료일'] == '2023-06-15']

      공공민간구분       공사시작일       공사종료일
4727      공공  2018-03-16  2023-06-15
7132      공공  2018-03-16  2023-06-15
12988     공공  2018-03-16  2023-06-15
3091      공공  2018-03-16  2023-06-15
3744      공공  2018-03-16  2023-06-15
...      ...         ...         ...
12894     공공  2018-03-16  2023-06-15
2052      공공  2018-03-16  2023-06-15
2716      공공  2018-03-16  2023-06-15
6965      공공  2018-03-16  2023-06-15
6943      공공  2018-03-16  2023-06-15

[130 rows x 3 columns]